.testimonials {
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonials__content {
    margin-bottom: 64px;
}
.testimonials__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.testimonials__item {
    padding: 64px 40px;
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
}
.item-testimonial {
    display: grid;
    gap: 32px;
}
.user-testimonial {
    display: flex;
    align-items: center;
    gap: 16px;
}
.user-testimonial__avatar {
    flex: 0 0 68px;
    overflow: hidden;
}
.user-testimonial__avatar img {
    max-width: 100%;
}
.user-testimonial__avatar-1 {
    border-radius: 0 50% 50% 50%;
}
.user-testimonial__avatar-2 {
    border-radius: 50% 0 50% 50%;
}
.user-testimonial__avatar-3 {
    border-radius: 50% 50% 0 50%;
}
.user-testimonial__title {
    line-height: 1.5;
    color: white;
}
.user-testimonial__title:not(:last-child) {
    margin-bottom: 7px;
}
.user-testimonial__company {
    font-size: 14px;
    line-height: 1.57; /* 22/14 */
}
.item-testimonial__title {
    font-size: 32px;
    color: white;
    line-height: 1.4; /* 45/32 */
}
.item-testimonial__text {
    line-height: 1.5;
}
@media (max-width: 1100px) {
    .testimonials__items {
        grid-template-columns: auto;
    }
}
@media (max-width: 991.98px) {
    .testimonials {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .testimonials__content {
        margin-bottom: 40px;
    }
}
@media (max-width: 767.98px) {
    .testimonials {
        padding-top: 30px;
        padding-bottom: 40px;
    } 
    .testimonials__item {
        padding: 30px 15px;
    }
}