.main {
    padding-top: 160px;
    padding-bottom: 100px;
}
.main__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.main__content {
    flex: 0 1 50%;
    align-self: center;
}
.decore.main__title::before {
    content: '';
    background: url('../img/decore.svg') 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -10px;
    left: -34px;
}
.main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 16px;
}
.main__images {
    flex: 0 1 36%;
}
.images-main {
    display: flex;
    gap: 9.615385%; /* 60/624 */
    justify-self: center;
}
.images-main__column {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.images-main__item {
    overflow: hidden;
}
.images-main__item_1,
.images-main__item_4 {
    border-radius: 50% / 29%;
}
.images-main__item_2 {
    border-radius: 50% 50% 0 50%
}
.images-main__item_3 {
    border-radius: 50% 0 50% 50%
}
.images-main__item img {
    max-width: 100%;
}
@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
}
@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .main__container {
        flex-direction: column;
    }
    .main__content {
        align-self: stretch;
    }
}
@media (max-width: 350px) {
    .main__actions {
        flex-direction: column;
    }
}