@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500);
@import url(header.css);
body {
    font-family: Poppins;
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0D0D11;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*='-container'] {
    max-width: 1310px;
    margin: auto;
    padding: 0px 15px;
}
.page {
    flex: 1 1 auto;
}
.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background-color: #3D96F4;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43; /* 22/14 */
    transition: 0.5s;
}
.button:hover {
    background-color: #7fb4ec;
}
@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px;
    }
}