@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500);
@import url(header.css);
@import url(sec-a.css);
@import url(sec-b.css);
@import url(sec-c.css);
@import url(sec-d.css);
@import url(sec-e.css);
@import url(sec-f.css);
@import url(sec-g.css);
body {
    font-family: Poppins;
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0D0D11;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
[class*='__container'] {
    max-width: 1310px;
    margin: auto;
    padding: 0px 15px;
}
.page {
    flex: 1 1 auto;
}
.button {
    display: inline-block;
    text-align: center;
    padding: 16px 30px;
    background-color: #3D96F4;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43; /* 22/14 */
    transition: 0.5s;
}
.button:hover {
    background-color: #7fb4ec;
}
.button-dark {
    background-color: rgba(129, 129, 139, 0.2);
}
.button-dark:hover {
    background-color: rgba(129, 129, 139, 0.4);
}
.text {
    line-height: 1.50; /* 24/16 */
    color: #81818B;
}
.main__text {
    font-size: 18px;
    line-height: 1.50; /* 27/18 */
}
.main__text:not(:last-child) {
    margin-bottom: 33px;
}
.main__body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.main__body .main__text {
    margin: 0;
}
.main__body .main__title{
    max-width: none;
}
.main__body .main__text {
    max-width: 740px;
}
.main__body .main__actions {
    flex: 0 0 auto;
}
.main__button {
    align-self: flex-end;
}
.main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19; /* 61/51 */
    color: white;
    position: relative;
}
.main__title:not(:last-child) {
    margin-bottom: 28px;
}
.main__label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    font-size: 10.8px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 11px 18px;
    transition: border 0.3s;
}
.main__label:hover {
    border: 1px solid rgba(129, 129, 139, 0.4);
}
.main__label:not(:last-child) {
    margin-bottom: 19px;
}
.main__list li {
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    padding-top: 4px;
    line-height: 1.5;
}
.main__list li:not(:last-child) {
    margin-bottom: 16px;
}
.main__list li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: rgba(129, 129, 139, 0.1) url('../img/Vector.svg') center no-repeat;
}
@media (max-width: 991.98px) {
    .button {
        padding: 14px 20px;
    }
    .main__title {
        font-size: 44px;
    }
}
@media (min-width: 768px) {
    .main__text {
        max-width: 500px;
    }
    .main__title {
        max-width: 520px;
    }
}
@media (max-width: 767.98px) {
    .main__title {
        font-size: 32px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 15px;
    }
    .main__body {
        flex-direction: column;
        gap: 0px;
    }
}